<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>海底映像 Ocean Impression</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
<link rel="icon" href="images/favicon.ico" type="image/x-icon" />
<script type="text/javascript" src="js/jquery.tipTip.js"></script>
<script type="text/javascript" src="js/jquery.tipTip.minified.js"></script>

</head>

<body onload="MM_preloadImages('images/dot_blue.png')">
<div id="wrapper">
    <div id="header">
        <div id="logo"><a href="index.html" title="海底映像 Ocena Impression"><img src="images/logo_oi.png" /></a></div>
        <div id="nav">
            <ul>
                <li><a class="nav01" href="media.html" title="海洋影像">海洋影像</a></li>
                <li><a class="nav02" href="news.html" title="最新消息">最新消息</a></li>
                <li><a class="nav03 on03" href="about.html" title="關於我們">關於我們</a></li>
                <li><a class="nav04" href="agent.html" title="國際代理">國際代理</a></li>
                <li><a class="nav05" href="contact.html" title="聯絡我們">聯絡我們</a></li>
            </ul>
        </div>
        <div id="sns">
            <ul>
                <li><a class="sns01" href="https://www.facebook.com/oceanimpression?fref=ts" target="_blank" title="Facebook">Facebook</a></li>
                <li><a class="sns02" href="http://vimeo.com/oceanimp" target="_blank" title="Vimeo">Vimeo</a></li>
                <li><a class="sns04" href="#" target="_blank" title="Youtube">Youtube</a></li>
                <li><a class="sns03" href="http://pinterest.com/oceanimpression/" target="_blank" title="Pinterest">Pinterest</a></li>
            </ul>
        </div>
    </div><!-- end header -->
    
    <div id="kv" class="kvAbout">
    </div><!-- end kv -->
    
    <div id="boxShot">
          <div id="titlebar">
            <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.oceanimp.com%2F&amp;send=false&amp;layout=button_count&amp;width=130&amp;show_faces=false&amp;font&amp;colorscheme=dark&amp;action=like&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:130px; height:21px;" allowTransparency="true"></iframe>        
          </div>
    </div><!-- end boxShot -->
  
    <div id="container">
        <p>海底映像為製作海洋影像的專業品牌，累積了十五年的拍攝經驗，透過令人驚艷的高畫質海底畫面，述說著一個接著一個關於海洋的故事。自從開始從事海底攝影之後，海底映像已有幸參與和投入許多保育與紀錄海洋環境的拍攝計劃，在過程中建立龐大的生態影像資料庫，除了獨立發表海洋生態短片外，也致力於製作遍及全世界的海洋紀錄片，並得到了許多的獎項與肯定。</p>
        <h2>使命</h2>
        <p>立足於台灣的海底映像，當人們缺少了解或者接觸海洋的機會時，海底映像希望以有趣且富有教育性的影像，讓這個對我們有著特殊意義的大海，能夠深植人心，進而讓人們願意珍惜海洋資源，並共同為海洋生態保育付出一分心力。</p>
        
        <div id="ourTeam">
            <img src="images/title_our_team.png" />
            <br class="clearfix" />
            <ul>
                <li>
                    <dl>
                        <dd><img src="images/team_mingo_lee.jpg" />
                        <dt class="name">李世明 (明哥 Mingo)
                        <dd class="occupation">總監／3D海底攝影
                    </dl>
                </li>
            </ul>
            <ul>
                <li>
                    <dl>
                        <dd><img src="images/team_yu-ting_hung.jpg" />
                        <dt class="name">洪鈺庭
                        <dd class="occupation">製作人／Full HD海底攝影
                    </dl>
                </li>
            </ul>
            <ul>
                <li>
                    <dl class="teamList">
                        <dt class="name">陳飛汎
                        <dd class="occupation">導演／攝影技術指導
                        <dt class="name">林錦榮
                        <dd class="occupation">海底平面攝影／生態專欄寫作
                        <dt class="name">盧佑華
                        <dd class="occupation">海底平面攝影
                        <dt class="name">陳靜宜
                        <dd class="occupation">監製／平面攝影
                        <dt class="name">陳清達
                        <dd class="occupation">執行製作／影像後製
                    </dl>
                </li>
            </ul>
            <br class="clearfix" />        
        </div><!-- end ourTeam -->
        
        <div id="portfolio">
            <img src="images/portfolio.png" />
            <ul>
                <li class="pic"><img src="images/p_portfolio_none.png" /></li>
                <li class="des">
                    <h2>國立海洋科技博物館</h2>
                    <p>國立海洋科技博物館位於基隆市，與國立海洋生物博物館並列為全台灣最大的海洋博物館，於內呈現海洋生態的演化 、台灣海洋文化的形成、海洋科學與科技的發展及應用 、及人類與海洋的關係。海底映像拍攝並製作館內含海洋環境廳、水產廳在內共71個影片展項，從劇場的海洋展示影片、深入的海洋生態介紹，到海洋人文與失落漁法的紀錄，完整詮釋台灣，甚至是全世界各角落的海洋環境。</p>
                </li>
                <li class="pic"><img src="images/p_portfolio_none.png" /></li>
                <li class="des">
                    <h2>台灣春夏秋冬</h2>
                    <p>海底映像與華航合作，製作以台灣四季為主題之海底生態展示影片，以海中各種絢麗奪目的生物，推廣台灣的海洋之美。在全球華航的各個多媒體播放平台上，讓來自世界各地的人都能認識這塊美麗的珊瑚礁。</p>
                </li>
                <li class="pic"><img src="images/p_portfolio_lv.jpg" /></li>
                <li class="des">
                    <h2>石沈大海</h2>
                    <p>由路易威登（LOUIS VUITTON）出資，海底映像與世界展望基金會合作製作之品牌形象影片。以海底攝影與水下工程之專業技術結合，拍攝一系列造型獨特的巨石，落入海中深處的畫面，並以大型藝術展覽的方式展出。</p>
                </li>
                <li class="pic"><img src="images/p_portfolio_none.png" /></li>
                <li class="des">
                    <h2>3D愛上藍色珊瑚礁</h2>
                    <p>海底映像與吉羊數位電影有限公司合作，全程拍攝製作3D海底立體影像。以台灣的海底世界之美與海洋生態為主題，並透過海底映像專業的海洋知識，與海底攝影師的獨特角度，娓娓道來對這美麗海島的深厚感情。</p>
                </li>
                <li class="pic"><img src="images/p_portfolio_none.png" /></li>
                <li class="des">
                    <h2>魚樂e世代</h2>
                    <p>為中央研究院生物多樣性研究中心所規劃的數位典藏計畫，海底映像與其合作並拍攝Full HD高畫質的立體3D海底生態影片，除展現水下3D拍攝能力外，也利用多媒體介紹台灣魚類的多樣性及其相關的保育問題。</p>
                </li>
                <li class="pic"><img src="images/p_portfolio_none.png" /></li>
                <li class="des">
                    <h2>墾丁小事</h2>
                    <p>本片獲 2012年台灣海洋生態與環境紀錄片首獎，由海底映像獨立製作。以微距的角度，全然不同的方式，看待這繽紛的海底世界，表達珊瑚礁交織的生物關係與脆弱的本質，深入介紹海洋中鮮為人知的生態現象。</p>
                </li>
                <li class="pic"><img src="images/p_portfolio_none.png" /></li>
                <li class="des">
                    <h2>珍愛海洋</h2>
                    <p>本片獲 2011年台灣海洋生態與環境紀錄片首獎，為海底映像獨立製作之生態短片，內容涵蓋從台灣、中南美洲、菲律賓、印尼、到馬來西亞等地的海底世界中最壯觀的景色，與各種珍貴稀有的生態畫面。</p>
                </li>
                <br class="clearfix" />
            </ul>
        </div><!-- end portfolio -->
        <div id="format"><span class="t-bold">影片格式</span>Full HD 1080p 2D／3D</div>
      <div id="aboutInfo">
            海底玩家有限公司<br>
            Undersea Player Co Ltd.<br><br>
            電子郵件： <a href="mailto:service@oceanimp.com">service@oceanimp.com</a><br>
            電話：886-2-29286216<br>
            地址：台灣新北市永和區中山路一段193-1號<br>
        </div>
      <div id="aboutInfo">
        <h2>社交平台</h2>
        <div id="aboutSNS">
                <ul>
                    <li><a class="aboutSNS01" href="https://www.facebook.com/oceanimpression?fref=ts" target="_blank" title="Facebook">Facebook</a></li>
                    <li><a class="aboutSNS02" href="http://vimeo.com/oceanimp" target="_blank" title="Vimeo">Vimeo</a></li>
                    <li><a class="aboutSNS03" href="http://pinterest.com/oceanimpression/" target="_blank" title="Pinterest">Pinterest</a></li>
                </ul>
            </div>
      </div>
        <br class="clearfix" />
  </div><!-- end container -->
      
    
    <div id="footer">
        <div id="boxFooter">
            <ul>
                <li><img src="images/logo_oi_footer.png" /></li>
            </ul>
            <ul>
                <li>台灣新北市永和區中山路一段193-1號</li>
                <li>02 2928 6216</li>
                <li><a href="mailto:service@oceanimp.com">service@oceanimp.com</a></li>
            </ul>
            <div id="copyright">Copyright © 海底映像 Ocean Impression. All right reserved.</div>
        </div>
        <br class="clearfix" />
    </div><!-- end footer -->

</div><!-- end wrapper -->
</body>
</html>
