<div id="boxVideo">
<div id="videoL">
  <iframe src="<%= indexVideo[0].html %>" width="750" height="422" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  <h1><%= indexVideo[0].title %></h1>
  <p class="videoDate"><%= indexVideo[0].upload_date %></p>
  <p class="videoDescription"><%- indexVideo[0].description %></p>
</div>

<div id="videoR">
                    
					<script type="text/javascript">
            
            $(document).ready(function(){
               
                <!-- bxSlider module -->
                $('.carousel').bxSlider({
                   mode: 'vertical',
                   slideWidth: 300,
                   minSlides: 3,
                   slideMargin: 10
                        });

                <!-- vimeo embed -->
                for ( i = 0; i < $('#video_number').attr('value'); i++) {
                   $('#video' + i).bind('click', function (event) {
                       $('#videoL').find('iframe')
                             .fadeTo('normal', 0).attr('src', $(this).find('input[id^="video_html"]').attr('value'))
                             .end().find('h1').html($(this).find('p').html())
                             .end().find('p.videoDate').html($(this).find('input[id^="video_upload_date"]').attr('value'))
                             .end().find('p.videoDescription').html($(this).find('input[id^="video_description"]').attr('value'))
                             .end().find('iframe').fadeTo('slow', 1);
                     });
                   }
                });

          </script>
                    
          <div class="carousel">
            <% for (i = 0; i < indexVideo.length; i++ ) { %>
            <div class="slide" id="video<%= i %>"><img src="<%= indexVideo[i].thumbnail_medium %>">
                <p><%= indexVideo[i].title %></p>
                <input type="hidden" id="video_upload_date<%= i %>" value="<%= indexVideo[i].upload_date %>">
                <input type="hidden" id="video_description<%= i %>" value="<%= indexVideo[i].description %>">
                <input type="hidden" id="video_html<%= i %>" value="<%= indexVideo[i].html %>">
              </div>
            <% } %>
            <input type="hidden" id="video_number" value="<%= indexVideo.length %>">
          </div>
                    
</div>
<br class="clearfix" />
</div>
