<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>海底映像 Ocean Impression</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/jquery.bxslider.css" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
<link rel="icon" href="images/favicon.ico" type="image/x-icon" />

<script src="http://code.jquery.com/jquery-1.10.2.min.js" type="text/javascript"></script>
<script type="text/javascript" src="js/jquery.bxslider.js"></script>
<script type="text/javascript" src="js/jquery.bxslider.min.js"></script>

</head>

<body>
<div id="wrapper">
    <div id="header">
        <div id="logo"><a href="index.html" title="海底映像 Ocena Impression"><img src="images/logo_oi.png" /></a></div>
        <div id="nav">
            <ul>
                <li><a class="nav01" href="media.html" title="海洋影像">海洋影像</a></li>
                <li><a class="nav02" href="news.html" title="最新消息">最新消息</a></li>
                <li><a class="nav03" href="about.html" title="關於我們">關於我們</a></li>
                <li><a class="nav04" href="agent.html" title="國際代理">國際代理</a></li>
                <li><a class="nav05" href="contact.html" title="聯絡我們">聯絡我們</a></li>
            </ul>
        </div>
        <div id="sns">
            <ul>
                <li><a class="sns01" href="https://www.facebook.com/oceanimpression?fref=ts" target="_blank" title="Facebook">Facebook</a></li>
                <li><a class="sns02" href="http://vimeo.com/oceanimp" target="_blank" title="Vimeo">Vimeo</a></li>
                <li><a class="sns04" href="#" target="_blank" title="Youtube">Youtube</a></li>
                <li><a class="sns03" href="http://pinterest.com/oceanimpression/" target="_blank" title="Pinterest">Pinterest</a></li>
            </ul>
        </div>
    </div><!-- end header -->
    
    <div id="kv">
        <img class="kvTitle" src="images/kv_title.png" />
    </div><!-- end kv -->
    
    <div id="boxShot">
          <div id="titlebar">
              <img src="images/title_shot_of_the_day.png" alt="SHOT OF THE DAY 精選影片" />
              <a class="btnMore" href="media.html">查看全部影片</a>
            <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.oceanimp.com%2F&amp;send=false&amp;layout=button_count&amp;width=130&amp;show_faces=false&amp;font&amp;colorscheme=dark&amp;action=like&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:130px; height:21px;" allowTransparency="true"></iframe>        
          </div>
          <br class="clearfix" />
            <% include indexVideo.html %>
      </div><!-- end boxShot -->
      
      <div id="boxFootPrint">
          <img src="images/title_footprint.png" alt="我們的足跡踏遍全球" />
          <p>海底映像立足台灣，以遍佈全世界的海洋影像，啟發人們關心海洋生態。</p>
          <ul>
              <li class="titleList">Plan for 2013</li>
              <li>Blue Corner Wall, Palau, Micronesia</li>
              <li>Yongala, Australia</li>
              <li>Barracuda Point, Sipadan Island</li>
              <li>Thistlegorm, Egyptian Red Sea</li>
              <li>Shark and Yolanda Reef, Egyptian Red Sea</li>
              <li>Great Blue Hole, Belize</li>
              <li>Navy Pier, Western Australia</li>
              <li>Manta Ray Night Dive, Kailua Kona, Hawaii</li>
              <li>Big Brother, Egyptian Red Sea</li>
              <li>Elphinstone Reef, Egyptian Red Sea</li>
              <li>Liberty, Bali, Indonesia</li>
              <li>President Coolidge, Vanuatu</li>
              <li>Tubbataha, Palawan, Philippines</li>
          </ul>
      </div><!-- end boxFootPrint -->
      
    <div id="boxNews">
        <div id="titlebar">
              <img src="images/title_lastest_news.png" alt="NEWS AND EVENTS 最新消息" />
              <a class="btnMore" href="#">查看全部消息</a>
        </div>
        <% include indexNews.html %>  
    </div><!-- end boxNews -->
    
    <div id="boxSnapshot">
        <div id="titlebar">
              <img src="images/title_snapshot.png" alt="SNAPSHOT 精選照片" />
              <a class="btnMore" href="#">查看全部照片</a>
        </div>
        <div id="snapshotL">
            <dl>
              <dd class="p"><div id="snapshotP"><a href="#"><img src="images/xx_snapshot_01.jpg"  style="max-width:340px;"/></a><!-- div大小340x255，範圍外的圖片不顯示 --></div>
                <dt>Hairy Frogfish（條紋躄魚）
                <dd class="info">鼻子尖尖，鬍子翹翹，還拿著一支釣竿的躄魚，又被稱為娃娃魚，是海中非常傑出的偽裝大師。常趴在石縫間靜止不動，就像顆石塊，並伸出像是釣餌的「餌球」，再以迅雷不及掩耳的速度吞食粗心的獵物。海底映像這次的藍碧海峽之行，也有幸紀錄到這閃電般的一瞬間，將在整理後與大家分享唷～
            </dl>
            <br class="clearfix" />
        </div>
        <div id="toolFB"><iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.oceanimp.com%2F&amp;width=300&amp;height=290&amp;show_faces=true&amp;colorscheme=light&amp;stream=false&amp;show_border=true&amp;header=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:290px;" allowTransparency="true"></iframe></div>
        <br class="clearfix" />
    </div><!-- end boxSnapshot -->
    
    <div id="boxAgent">
        <div id="titlebar">
              <img src="images/title_agent_in_taiwan.png" alt="AGENT IN TAIWAN 國際代理" />
              <a class="btnMore" href="#">更多代理資訊</a>
        </div>
        <img src="images/logos_agent.jpg" />
    </div><!-- end boxAgent -->
    
    <div id="footer">
        <div id="boxFooter">
            <ul>
                <li><img src="images/logo_oi_footer.png" /></li>
            </ul>
            <ul>
                <li>台灣新北市永和區中山路一段193-1號</li>
                <li>02 2928 6216</li>
                <li><a href="mailto:service@oceanimp.com">service@oceanimp.com</a></li>
            </ul>
            <div id="copyright">Copyright © 海底映像 Ocean Impression. All right reserved.</div>
        </div>
        <br class="clearfix" />
    </div><!-- end footer -->

</div><!-- end wrapper -->
</body>
</html>
