<div id="boxVideo">
<div id="videoL">
  <iframe src="http://player.vimeo.com/video/51661287" width="750" height="422" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  <h1>CASTLE</h1>
  <p class="videoDate">1 week ago</p>
  <p>The Castle, an underwater fortress on plateau surrounded by steep cliffs, is fortified by high walls formed by coral reefs. Behind the wall, a shield against strong currents, inhabit many small fish, which, along with sufficient food, attract storm-like nomadic hunters to feed; however, there are still even stronger threats waiting behind. And so the feast begins…</p>
</div>

<div id="videoR">
                    
					<script type="text/javascript">
            
            $(document).ready(function(){
                <!-- bxSlider module -->
                $('.carousel').bxSlider({
                   mode: 'vertical',
                   slideWidth: 300,
                   minSlides: 3,
                   slideMargin: 10
                        });

                <!-- vimeo embed -->
                var i = 1;
                $('#video' + i).bind('click', function (event) {
                    console.log('clicked');
                    $('#videoL').find('iframe').attr('src', 'http://player.vimeo.com/video/53410844');
                  })
                });

          </script>
                    
          <div class="carousel">
            <% for (i = 0; i < indexVideo.length; i++ ) { %>
            <div class="slide" id="video<%= i %>"><img src="<%= indexVideo[i].thumbnail_medium %>">
                <p><%= indexVideo[i].title %></p>
                <input type="hidden" id="video_upload_date<%= i %>" value="<%= indexVideo[i].upload_date %>">
                <input type="hidden" id="video_description<%= i %>" value="<%= indexVideo[i].description %>">
                <input type="hidden" id="video_html<%= i %>" value="<%= indexVideo[i].html %>">
              </div>
            <% } %>
              
          </div>
                    
</div>
<br class="clearfix" />
</div>


