<div id="newsList">
  <ul>
    <li>
    <dl>
      <dd><div id="newsP"><a href="#"><img src="sphoto/s20130720165035.jpg"  style="max-width:300px;"/></a><!-- div大小300x165，範圍外的圖片不顯示 --></div>
      <dt>2013. 3. 17
      <dd>趁著晴空萬里的好天氣，海底映像今日出發前往基隆嶼拍攝。風平浪靜之外，海水真是透心冰涼，大夥兒仍是夾緊了胳肢窩，努力帶回了許多海底畫面。不知大家是否一樣，也過了個充實的週末呢？
    </dl>
    </li>
    <li>
    <dl>
      <dd><div id="newsP"><a href="#"><img src="images/xx_snapshot_02.jpg"  style="max-width:300px;"/></a><!-- div大小300x165，範圍外的圖片不顯示 --></div>
      <dt>2013. 3. 17
      <dd>趁著晴空萬里的好天氣，海底映像今日出發前往基隆嶼拍攝。風平浪靜之外，海水真是透心冰涼，大夥兒仍是夾緊了胳肢窩，努力帶回了許多海底畫面。不知大家是否一樣，也過了個充實的週末呢？
    </dl>
    </li>
    <li>
    <dl>
      <dd><div id="newsP"><a href="#"><img src="images/xx_news_02.jpg"  style="max-width:300px;"/></a><!-- div大小300x165，範圍外的圖片不顯示 --></div>
      <dt>2013. 3. 17
      <dd>趁著晴空萬里的好天氣，海底映像今日出發前往基隆嶼拍攝。風平浪靜之外，海水真是透心冰涼，大夥兒仍是夾緊了胳肢窩，努力帶回了許多海底畫面。不知大家是否一樣，也過了個充實的週末呢？
    </dl>
    </li>
    <br class="clearfix" />
  </ul>
</div>

