<div id="newsList">
  <ul>
    <li>
    <dl>
      <dd><div id="newsP"><a href="#"><img src="<%= indexNews[0].Spath %>"  style="max-width:300px;"/></a><!-- div大小300x165，範圍外的圖片不顯示 --></div>
      <dt><%= indexNews[0].DateTime %>
      <dd><%= indexNews[0].Description %>
    </dl>
    </li>
    <li>
    <dl>
      <dd><div id="newsP"><a href="#"><img src="<%= indexNews[1].Spath %>"  style="max-width:300px;"/></a><!-- div大小300x165，範圍外的圖片不顯示 --></div>
      <dt><%= indexNews[1].DateTime %>
      <dd><%= indexNews[1].Description %>
    </dl>
    </li>
    <li>
    <dl>
      <dd><div id="newsP"><a href="#"><img src="<%= indexNews[2].Spath %>"  style="max-width:300px;"/></a><!-- div大小300x165，範圍外的圖片不顯示 --></div>
      <dt><%= indexNews[2].DateTime %>
      <dd><%= indexNews[2].Description %>
    </dl>
    </li>
    <br class="clearfix" />
  </ul>
</div>

